[submodule "tools"]
	path = tools
	url = https://github.com/golang/tools.git
[submodule "net"]
	path = net
	url = https://github.com/golang/net.git
[submodule "text"]
	path = text
	url = https://github.com/golang/text.git
[submodule "sys"]
	path = sys
	url = https://github.com/golang/sys.git
[submodule "oauth2"]
	path = oauth2
	url = https://github.com/golang/oauth2.git
[submodule "crypto"]
	path = crypto
	url = https://github.com/golang/crypto.git
